.info-box {
    width: 280px;
    background-color: white;
    padding: 5px;
    height: 100%;
    &-content {
        .search-box {
            box-shadow: 0px 0px 2px #00000052;
            display: flex;
            justify-content: space-between;
            padding: 5px;
            font-size: 14px;
            &-left {
                display: flex;
                flex: 1;
            }
            &-mid {
                display: flex;
                flex: 2;
            }
            &-right {
                display: flex;
                flex: 1;
                justify-content: space-around;

                .vl {
                    border-left: 2px solid green;
                    height: 18px;
                }
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            box-shadow: 0px 0px 2px #00000052;
            height: 100%;
            .img {
                width: 100%;
            }
            .location {
                box-shadow: 0px 0px 2px #00000052;
                padding: 10px;
            }
            .direction {
                display: flex;
                font-size: 10px;
                justify-content: space-around;
                text-align: center;
                padding: 10px;
                box-shadow: 0px 0px 2px #00000052;
            }
            .address {
                display: flex;
                flex-direction: column;
                box-shadow: 0px 0px 2px #00000052;
                padding: 5px;
                &-item {
                    display: flex;
                    margin-bottom: 10px;
                    &-icon {
                        display: flex;
                        flex: 1;
                        justify-content: center;
                        align-items: center;
                    }
                    &-text {
                        display: flex;
                        flex: 5;
                        font-size: 10px;
                        align-items: center;
                    }
                }
                .button-edit {
                    text-align: center;
                }
            }
            .near-location {
                padding: 5px;

                &-item {
                    box-shadow: 0px 0px 2px #00000052;

                    display: flex;
                    &-img {
                        padding: 5px;
                    }
                }
            }
        }
    }
}
