.map {
    display: flex;
    background-color: lavender;
    width: 1000px;
    height: 100vh;
    min-height: 100%;
    .test {
        height: 100px;
        width: 100px;
        background-color: blue;
    }
}
